.logIn {
  width: 20rem;
  background-color: rgba(173, 231, 146, 0.5);
  margin-left: 38rem;
  margin-top: 10rem;
  padding: 2rem;
  font-size: small;
}

.inputSubmit {
  margin-top: 2rem;
  border: none;
}

.inputSubmit:hover {
  background-color: rgba(173, 231, 146, 0.7);
  border: 1px solid black;
}
